*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*PC*/
@media screen and (min-width:64em) {
    /*Header*/
    .header {
        z-index: 1;
        position: fixed;
        top: 0px;
        background-color: rgb(255, 255, 255);
        height: 180px;  
        width: 100%;
    }
    .header-header {
        background-color: #FFDFAF;
        width: 100%;
        height: 32px;
    }
    
    
    .info {
        margin: auto;
        position: relative;
        display: flex;
        width: 1000px;
        height: 32px;
    }
    .header-header .item {
        display: block;
        height: 100%;
       
    }
    .header-header .nav {
        position: relative;
    }
    .header-header .subnav-info {
        display: none;
        background-color: #fff;
        z-index: 1;
        width: auto;
        height: auto;
        box-sizing: border-box;
        top: 32px;
        position: absolute;
        box-shadow: 2px 3px 16px #ffc107;
        list-style: none;
        
    }
    .header-header .subnav-info a {
       line-height: 32px;
       text-decoration: none;
       color: black;
        padding: 5px;

    }
    .header-header .subnav-info a:hover{
        background-color: #ccc;
    }
     .header-header .subnav-info form:hover{
        background-color: #ccc;
    }
        
    .header-header .info button {
        line-height: 32px;
        height: 100%;
        margin: 0px 12px;
        color: black;
        background-color: transparent;
        outline: none;
        border: none;
    }
    .header-header p a {
        line-height: 32px;
        height: 100%;
        margin: 0px 12px;
        color: black;
        text-decoration: none;
    }
    .header-header .item-cart {
        color: #000;
        font-size: 20px;
        position: absolute;
        right: 20px;
        top:2px;
        
        
    } 
    .header-header .item-cart:hover {
        color: #000;
        text-decoration: none;
        opacity: 0.6;
    } 
    .header-header .item:hover {
        background-color: #fff;
        color: #000;
    }

    .header-header .item:hover a {
        color: black;
        
    }
    .header-header .item-user {
        display: none;
    }
    .body-header {
        display: flex;
        height: 116px;
        width: 1000px;
        margin: auto;
        
    }
    .body-header  a {
        margin-top: 10px;
        width: 20%;
        text-align: center;
        color: #ffc107;;
    }
    .body-header  a:hover {
        text-decoration: none;
        color: #ffc107;;
        opacity: 0.6;
    }
    .body-header .search {
        width: 80%;
        position: relative;
       
    }
    .body-header .search .search-2 {
        position: absolute;
        top: 50%;
        right: 20px;
    }
    .body-header .search .search-input {
        border: 3px solid #ffc107; ;
        border-radius: 5px;
        height: 30px;
        width: 250px;
    }
    .body-header .search-btn {
        border: 3px solid #ffc107; ;
        border-radius: 5px;
        height: 30px;
        background: #fff;
        color: #ffc107;
       max-width: 150px;
    }

    .body-header .menu-mobile {
        display: none;
    }
    .header .nav-bar {
        height: 32px;
        width: 100%;
        background-color: #ffc107; ;
    }
    .header .nav-bar  ul {
        display: flex;
        height: 32px;
        width: 1000px;
        margin: auto;
        list-style-type: none ;
       text-align: center;


    }
    .header .nav-bar a {
        text-decoration: none;
        color: black;
    }
    .header .nav-bar  li {
        display:inline-block;
        font-size: 16px;
        line-height: 32px;
        width: 200px;
    }
    .header .nav-bar  li i {
        margin-top: 5px;
        margin-right: 10px ;
        font-size: 16px;
    }
    .header .nav-bar  li:hover {
        cursor: pointer;
        background: #fff;
        box-shadow: 3px 0px 8px #ffc107;
    }
    .open {
        display: block;
    }
    .Space {
        height: 180px;
    }
}
/*tablet*/ 
@media screen and (min-width:46.1876em ) and (max-width:63.9em)  {
    body {
        position: relative;
    }
    /*Header*/
    .header {
        z-index: 1;
        position: fixed;
        top: 0px;
        background-color: #fff;
        height: 180px;  
        width: 100%;
    }
    .header-header {
        background-color: #FFDFAF;
        width: 100%;
        height: 32px;
    }
    .info {
        margin: auto;
        position: relative;
        display: flex;
        width: 760px;
        height: 32px;
    }
    .header-header .item {
        display: block;
        height: 100%;
    }
    .header-header .info button {
        line-height: 32px;
        height: 100%;
        margin: 0px 12px;
        color: black;
        background-color: transparent;
        outline: none;
        border: none;
    }
    .header-header p a {
        line-height: 32px;
        height: 100%;
        margin: 0px 12px;
        color: black;
        text-decoration: none;
    }
    .header-header .item-cart {
        color: #000;
        font-size: 20px;
        position: absolute;
        right: 20px;
        top:2px;
        
        
    } 
    
    .header-header .item-cart:hover {
        color: #000;
        text-decoration: none;
        opacity: 0.6;
    } 
    .header-header .item:hover {
        background-color: #fff;
        color: #000;
    }

    .header-header .item:hover a {
        color: black;
        
    }
    .header-header .item-user {
        display: none;
    }
    .header-header .nav {
        position: relative;
    }
    .header-header .subnav-info {
        display: none;
        background-color: #fff;
        z-index: 1;
        width: auto;
        height: auto;
        box-sizing: border-box;
        top: 32px;
        position: absolute;
        box-shadow: 2px 3px 16px #ffc107;
        list-style: none;
        
    }
    .header-header .subnav-info a:hover{
        background-color: #ccc;
    }
    .header-header .subnav-info form:hover{
        background-color: #ccc;
    }    
    .header-header .subnav-info a {
       display: block;
       line-height: 32px;
       text-decoration: none;
       color: black;
        padding: 5px;

    }
    .body-header {
        display: flex;
        height: 116px;
        width: 740px;
        margin: auto;
        
    }
    .body-header  a {
        width: 30%;
        margin-top: 10px;
        text-align: center;
        color: #ffc107;;
    }
    .body-header  a:hover {
        text-decoration: none;
        color: #ffc107;;
        opacity: 0.6;
    }
    .body-header .search {
        width: 70%;
        position: relative;
       
    }
    .body-header .search .search-2 {
        position: absolute;
        top: 50%;
        right: 10px;
    }
    .body-header .search .search-input {
        border: 3px solid #ffc107; ;
        border-radius: 5px;
        height: 30px;
        width: 200px;
    }
    .body-header .search-btn {
        border: 3px solid #ffc107; ;
        border-radius: 5px;
        height: 30px;
        background: #fff;
        color: #ffc107;
       max-width: 150px;
    }
    .body-header .menu-mobile {
        display: none;
    }
    .header .nav-bar {
        height: 32px;
        width: 100%;
        background-color: #ffc107; ;
    }
    .header .nav-bar  ul {
        display: flex;
        height: 32px;
        width: 760px;
        margin: auto;
        list-style-type: none ;
       text-align: center;


    }
    .header .nav-bar a {
        text-decoration: none;
        color: black;
    }
    .header .nav-bar  li {
        display:inline-block;
        font-size: 16px;
        line-height: 32px;
        width: 152px;
    }
    .header .nav-bar  li i {
        margin-top: 5px;
        margin-right: 10px ;
        font-size: 16px;
    }
    .header .nav-bar  li:hover {
        cursor: pointer;
        background: #fff;
        box-shadow: 3px 0px 8px #ffc107;
    }
    .Space {
        height: 180px;
    }
}
/*Mobile*/ 
@media screen and (max-width:46.1875em)  {
    .header .header-header .info {
        display: flex;
        background: #ffc107;
        height: 40px;
        position: relative;
    }
    .header .header-header .info .item {
        line-height: 40px ;
        margin-left: 10px;
       
    }
    .header .header-header .info .item-cart {
        line-height: 40px ;
        font-size: 32px;
        position: absolute;
        right: 10px;
        color: #fff;
        text-decoration: none;
        font-weight: 500;
    }
    .header .header-header .info .item-user {
        line-height: 40px ;
        position: absolute;
        left: 10px;
        color: #fff;
        text-decoration: none;
        font-weight: 500;
    }
    .header .header-header .info .item a{
        color: #fff;
        text-decoration: none;
        font-weight: 500;
    }
    .header-header .info button {
        display: none;
    }
    .header-header .subnav-info {
        display: none;
    }
    .header .header-header .info .item a:hover {
        opacity: 0.6;
    }
    .body-header {
        background: #ffc107;
    }
    .body-header a{
        color: #fff;
        text-decoration: none;
        text-align: center;
    }
    .body-header a:hover {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.829)

    }
    .body-header .search {
        width: 100%;
    }
    .body-header .search .search-input {
        border: 3px solid #ffc107; ;
        border-radius: 5px;
        width: 65%;
    }
    .body-header .search .search-input:focus-visible {
        border-radius: 5px;
        outline: none;
    }
    .body-header .search .search-btn {
        width: 20%;
        border: 1px solid #ffffff; 
        border-radius: 5px;
        background: #ffc107;
        color: #fff;
        font-weight: 600;

    }
    .body-header .search .search-btn:hover {
        opacity: 0.6;
    }
    .body-header .menu-mobile {
        width: 10%;
        border: none;
        background-color: transparent;
    }
    
    .nav-bar {
        display: none;
        position: relative;
        border-top: 3px solid #000;
        text-align: center;
        font-size: 16px;
        background-color: #ffc107;
        line-height: 50px;
        animation: navFadeIn ease-in 0.3s;
    }
    .open {
        display: block;
    }
    .nav-bar ul {
        margin-bottom: 0;
    }
    .nav-bar a {
     color: #fff;
     text-decoration: none;   
    }
    .nav-bar a li i {
        margin-right: 10px;
    }
    .nav-bar a:hover li {
        
        background-color: #fff;
        color: #ffc107;
    }
    .nav-bar a:hover {
        text-decoration: none;
    }
    @keyframes navFadeIn {
        from {
            opacity: 0;
        }
    
        to {
            opacity: 1;
    
        }
    }
} 
